# Core functionality - changes here should be rare!
/src/app.py                   @2400032394
/src/backend/database.py      @2400032394
/src/backend/routers/auth.py  @2400032394

# The frontend will need refactored soon to be more object oriented.
/src/static/   @2400032394
